nav#nav-bar
  a(href="/")
    img.logo(src='/images/bird.png')
    span.header Tweeter
  if user
    span.userGreeting Hello, #{user}!
    span.compose-button Compose
    form(action="/logout" method="POST")
      button.logout-button(type="submit" value="Logout") Logout
  else
    span.login-button Login
