extend layout.pug

block content
  main.container
    section.user-login.clearfix
      h2 Login
      form(method='POST', action='/login')
        .login-area
          label(for='username') Username
          input(id='username', name='username', type='text', placeholder='username')
          label(for='password') Password
          input(id='password', name='password', type='text', placeholder='password')
        input(class="login-button" type='submit', value='Login')
    section.user-register.clearfix
      h2 Register
      form(method='POST', action='/register')
        .register-area
          label(for='username') Username
          input(id='username', name='username', type='text', placeholder='username')
          label(for='password') Password
          input(id='password', name='password', type='text', placeholder='password')
        input(class="register-button" type='submit', value='Register')
