html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background-color: $color-light-grey;
  color: $color-greenblue;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.container {
  background-color: $color-white;
  margin: 0 auto auto;
  min-height: 100vh;
  width: $size-biggest;
  overflow: auto;
}

.clearfix {
  overflow: auto;
}

.warning-message {
  border: 1px #6B6B6B solid;
  background-color: #e8fdff;
  text-align: center;
  padding-top: 0.25rem;
}
