section.user-login {
  display: none;
  background-color: $color-light-grey;
  border: 1px $color-concretegrey solid;
  border-radius: 5px;
  margin: $size-above-small;
  padding: 0 $size-below-small $size-below-small;

  h2 {
    border-bottom: 1px black solid;
  }

  textarea {
    display: block;
    width: 100%;
    margin-bottom: $size-tiniest;
    padding: $size-tiny;
    resize: none;
  }

  input#username {
    float: right;
    width: 80%;
    height: $size-above-small;
  }

  input#password {
    float: right;
    width: 80%;
    height: $size-above-small;
  }

  label {
    float: left;
    width: 20%;
    height: $size-above-small;
    padding-top: $size-tiny;
  }

  input.login-button {
    margin-top: $size-below-small;
    float: right;
  }

  a.register-button {
    float: left;
    -webkit-appearance: button;
    font: inherit;
    margin: 0;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
  }
}
