section.new-tweet {
  display: none;
  background-color: $color-light-grey;
  border: 1px $color-concretegrey solid;
  border-radius: 5px;
  margin: $size-above-small;
  padding: 0 $size-below-small $size-below-small;

  h2 {
    border-bottom: 1px black solid;
  }

  textarea {
    display: block;
    width: 100%;
    margin-bottom: $size-tiniest;
    padding: $size-tiny;
    resize: none;
  }

  .counter {
    float: right;
  }

  form input:disabled {
    color: $color-concretegrey;
  }

  .warning-message {
    display: inline;
    width: $size-big;
    height: $size-small;
    overflow: hidden;
    font-size: $size-above-tiny;
    font-weight: 300;
    font-style: italic;
    margin-left: $size-tiniest;
    margin-top: $size-below-tiny;
  }
}
