#nav-bar {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  height: 5rem;
  background-color: #00a087;
  width: 100%;
  color: #e8fdff;
  padding: 0 2em;
}

#nav-bar .logo {
  float: left;
  height: 5rem;
  width: 5rem;
}

#nav-bar .header {
  float: left;
  font-size: 2rem;
  height: 100%;
  line-height: 5rem;
  margin-left: 10px;
}

#nav-bar .compose-button {
  float: right;
  width: 9rem;
  height: 80%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 1px #234651 solid;
  text-align: center;
  background-color: #E7FDFF;
  padding-top: 1rem;
  padding-left: 1.5rem;
  color: #249F8E;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 5px;
}

#nav-bar .compose-button:hover {
  background-color: #fff;
  color: #234651;
}
